# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/
.venv/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm / other IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Render deploy automation
.render/

# dotenv / secrets (optional)
.env
